.fade-in {
    animation: fadeIn 1.5s ease-in 1s;
    -webkit-animation: fadeIn 1.5s ease-in 1s;
    -moz-animation: fadeIn 1.5s ease-in 1s;
    -o-animation: fadeIn 1.5s ease-in 1s;
    -ms-animation: fadeIn 1.5s ease-in 1s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

.fade-out {
    animation: fadeOut 1.5s ease-out;
}

@keyframes fadeOut {
    from {opacity: 1}
    to {opacity: 0}
}

.pulse {
    animation: pulse-animation 2s infinite 2s;
}

@keyframes pulse-animation {
    0% {
        box-shadow: 0 0 0 0 rgba(253, 253, 253, 0.2);
    }
    100% {
        box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
    }
}
