.configuration-container {
    font-size: 18px;
}

.configuration-container input[type="range"] {
    height: 24px;
}

.configuration-container input[type="range"]:disabled {
    opacity: 0.7;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 24px;
    margin: 0 12px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #15418c;
}

input:focus + .slider {
    box-shadow: 0 0 1px #15418c;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
