@import "https://fonts.googleapis.com/css?family=Titillium+Web:400,600,700";

body {
    font-family: "Titillium Web", Arial, sans-serif !important;
    background-color: black;
    margin: 0;
    overflow: hidden;
}

button {
    all: unset;
    text-transform: uppercase;
}

.main-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.main-content {
    width: 100%;
    height: 100%;
}

.panel {
    width: 200px;
    height: 250px;
}

.panel__title{

}

.panel__container {

}

.pnale__description {

}

#help-text {
    user-select: none;
    position: absolute;
    left: 10%;
    bottom: 100px;
    height: 100px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 28px;
    font-weight: 600;
    color: #ffffffb5;
    z-index: 1;
    border: 3px solid #15418c;
    background-color: rgba(45, 40, 40, 0.85);
    border-radius: 4px;
    opacity: 0;
    text-align: center;
    line-height: 32px;
}

#map .animation-ended {
    opacity: 1;
}

.wind-info-panel {
    position: absolute;
    bottom: 20px;
    left: 10px;
    height: 140px;
    width: 80px;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.wind-info__north-label {
    height: 40px;
    width: 100%;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 20px;
    font-weight: 600;
    color: #ffffffb5;
    text-align: center;
}

.wind-info__direction-label {
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 15px;
    font-weight: 600;
    color: #ffffffb5;
    text-align: center;
    padding-top: 10px;
}

#wind-info__arrow {
    height: 60px;
    width: 100%;
    z-index: 1;
    display: block;
    object-fit: contain;
}

.color-info-panel {
    position: absolute;
    right: 30px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 120px;
    z-index: 1;
}

.color-info__bar {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, yellow, red);
}

.color-info__help-text {
    width: 100%;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 15px;
    font-weight: 600;
    color: #ffffffb5;
    padding-top: 2px;
    text-align: center;
}

.color-info__low-label {
    position: absolute;
    right: 125px;
    bottom: 36px;
    z-index: 1;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 12px;
    color: #ffffffb5;
}

.color-info_high-label {
    position: absolute;
    right: -25px;
    bottom: 36px;
    z-index: 1;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 12px;
    color: #ffffffb5;
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-logo {
    display: none !important;
}
