.map-container {
    width: 74%;
    height: 100vh;
    display: flex;
    justify-content: center;
}

#map {
    width: 100%;
    height: 100%;
}

.mapboxgl-map .mapboxgl-canvas {
    width: 100% !important;
    height: 100% !important;
}

#loader {
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.7);
    position: absolute;
}

.spinner-container__spinner {
    z-index: 1;
    margin: 0 auto;
    position: relative;
    border: 8px solid rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    border-top: 8px solid #15418c;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

.spinner-container {
    margin-top: 350px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.long-lat-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    margin: 0 69%;
    text-align: center;
    height: 30px;
    background: rgba(33, 33, 33, 0.74);
    margin-top: 14px;
    width: 340px;
    color: #e2e2e2;
    font-size: 18px;
    border-radius: 4px;
}

.marker {
    background-image: url('/images/marker-burn.png');
    background-size: cover;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.timeline-panel {

}
