.sidebar {
    width: 26%;
    background-color: #333333;
    cursor: text;
    color: #c6c6c6;
    font-size: 20px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0 5px;
    height: 34px;
    color: #fbfbfb;
    font-size: 13px;
    border: none;
    background: rgba(0,0,0,.15);
    border-radius: 3px;
    outline: none;
    box-sizing: border-box;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    margin-top: 6px;
}

.input-group {
    width: 90%;
    margin: 0 auto;
    border-bottom: 1px solid #525151;
    padding-bottom: 20px;
}

.input-group label {
    padding-bottom: 10px;
}

.input-group__address {
    margin-top: 20px;
}

button {
    border: none;
    text-align: center;
    background: #15418c;
    color: white;
    margin-top: 15px;
    font-size: 17px;
    font-weight: 600;
    padding-top: 8px;
    margin-left: 0;
    margin-right: 0;
    height: 40px;
    font-family: "Titillium Web", Arial, sans-serif !important;
    cursor: pointer;
    line-height: 40px;
    width: 100%;
}

button:hover {
    background: #5d7fb9;
}

.input-group--flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-group--logos {
    margin-top: 10px;
    padding-bottom: 4px;
}

.logo {
    width: 50%;
}

.logo__nasa {
    background: url('/images/nasa_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
}

.logo__fire {
    background: url('/images/prometheus_logo.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 80px;
    height: 80px;
    float: right;
}
