.timeline-container {
    position: fixed;
    display: flex;
    align-items: center;
    top: 80px;
    height: 100px;
    width: 840px;
    background-color: rgba(45, 40, 40, 0.85);
    z-index: 1;
}

#timeline__line {
    width: 800px;
    height: 6px;
    background: #fff;
    margin: 0 auto;
    position: relative;
}

.timeline__line-step {
    position: absolute;
    top: -13px;
    height: 30px;
    width: 5px;
    background-color: #fff;
}

.timeline__line-step--primary {
    height: 70px;
    top: -30px;
}

.timeline__line-step--secondary {
    top: -20px;
    height: 50px;
}

.timeline-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    z-index: 1;
    height: 60px;
    width: 420px;
    border-radius: 4px;
    background-color: rgba(45, 40, 40, 0.85);
}

.timeline-panel__time {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 70%;
    color: #ffffffb5;
    font-family: "Titillium Web", Arial, sans-serif !important;
    font-size: 50px;
    font-weight: 600;
    user-select: none;
}

.timeline-panel__button-container {
    height: 90%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-panel button {
    display: flex;
    height: 60%;
    align-items: center;
    width: 50px;
    background-color: unset;
    margin: 0;
    padding: 0;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.timeline-panel button.disable-button {
    opacity: 0.5;
    cursor: unset;
}

.timeline-panel button.timeline__start-button {
    display: none;
}

.timeline__start-button {
    background-image: url('/images/play-solid.svg');
}

.timeline__start-button:hover {
    background-image: url('/images/play-solid-hover.svg');
}

.disable-button.timeline__start-button:hover {
    background-image: url('/images/play-solid.svg');
}

.timeline__stop-button {
    background-image: url('/images/pause-solid.svg');
}

.timeline__stop-button:hover {
    background-image: url('/images/pause-solid-hover.svg');
}

.disable-button.timeline__stop-button:hover {
    background-image: url('/images/pause-solid.svg');
}

.timeline__prev-button {
    background-image: url('/images/step-backward-solid.svg');
}

.timeline__prev-button:hover {
    background-image: url('/images/step-backward-solid-hover.svg');
}

.disable-button.timeline__prev-button:hover {
    background-image: url('/images/step-backward-solid.svg');
}

.timeline__next-button {
    background-image: url('/images/step-forward-solid.svg');
}

.timeline__next-button:hover {
    background-image: url('/images/step-forward-solid-hover.svg');
}

.disable-button.timeline__next-button:hover {
    background-image: url('/images/step-forward-solid.svg');
}
